nodered_flows.json
[
    {
        "id": "flow_motion",
        "type": "tab",
        "label": "Motion-Triggered Lighting",
        "disabled": false
    },
    {
        "id": "motion_trigger",
        "type": "server-state-changed",
        "z": "flow_motion",
        "name": "Motion Detected",
        "server": "",
        "version": 5,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.vmbpirm_motion_output_1",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "on",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "seconds",
        "x": 150,
        "y": 120,
        "wires": [
            ["motion_light_on"],
            ["motion_light_off_delay"]
        ]
    },
    {
        "id": "motion_light_on",
        "type": "api-call-service",
        "z": "flow_motion",
        "name": "Turn On Living Room Light",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": ["light.livingroom_light_livingroom_light"],
        "data": "{\"brightness_pct\": 100}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 430,
        "y": 80,
        "wires": [["motion_spot_on"]]
    },
    {
        "id": "motion_spot_on",
        "type": "api-call-service",
        "z": "flow_motion",
        "name": "Turn On Living Room Spot",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.livingroom_spot_livingroom_spot"],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 690,
        "y": 80,
        "wires": [["motion_debug_on"]]
    },
    {
        "id": "motion_debug_on",
        "type": "debug",
        "z": "flow_motion",
        "name": "Motion ON Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "Motion detected - lights ON",
        "statusType": "auto",
        "x": 930,
        "y": 80,
        "wires": []
    },
    {
        "id": "motion_light_off_delay",
        "type": "delay",
        "z": "flow_motion",
        "name": "Wait 2 minutes",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 420,
        "y": 180,
        "wires": [["motion_light_off"]]
    },
    {
        "id": "motion_light_off",
        "type": "api-call-service",
        "z": "flow_motion",
        "name": "Turn Off Living Room Light",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": ["light.livingroom_light_livingroom_light"],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 670,
        "y": 180,
        "wires": [["motion_spot_off"]]
    },
    {
        "id": "motion_spot_off",
        "type": "api-call-service",
        "z": "flow_motion",
        "name": "Turn Off Living Room Spot",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": ["switch.livingroom_spot_livingroom_spot"],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 930,
        "y": 180,
        "wires": [["motion_debug_off"]]
    },
    {
        "id": "motion_debug_off",
        "type": "debug",
        "z": "flow_motion",
        "name": "Motion OFF Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "No motion - lights OFF",
        "statusType": "auto",
        "x": 1170,
        "y": 180,
        "wires": []
    },
    {
        "id": "motion_comment",
        "type": "comment",
        "z": "flow_motion",
        "name": "FLOW 1: Motion-Triggered Lighting - When VMBPIRM detects motion, turn on living room lights. After 2 minutes of no motion, turn them off.",
        "info": "",
        "x": 450,
        "y": 40,
        "wires": []
    },

    {
        "id": "flow_alloff",
        "type": "tab",
        "label": "All Lights Off",
        "disabled": false
    },
    {
        "id": "alloff_inject",
        "type": "inject",
        "z": "flow_alloff",
        "name": "All Lights Off Trigger",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 160,
        "y": 120,
        "wires": [["alloff_lights"]]
    },
    {
        "id": "alloff_lights",
        "type": "api-call-service",
        "z": "flow_alloff",
        "name": "Turn Off All Lights",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.livingroom_light_livingroom_light",
            "light.livingroom_light2_livingroom_light",
            "light.livingroom_light3_livingroom_light",
            "light.livingroom_light4_livingroom_light"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 420,
        "y": 120,
        "wires": [["alloff_spots"]]
    },
    {
        "id": "alloff_spots",
        "type": "api-call-service",
        "z": "flow_alloff",
        "name": "Turn Off All Spots",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.livingroom_spot_livingroom_spot",
            "switch.kitchen_spot_kitchen_spot",
            "switch.bedroom_spot_bedroom_spot",
            "switch.toilet_spot_toilet_spot"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 670,
        "y": 120,
        "wires": [["alloff_debug"]]
    },
    {
        "id": "alloff_debug",
        "type": "debug",
        "z": "flow_alloff",
        "name": "All Off Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "All lights and spots turned OFF",
        "statusType": "auto",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "alloff_comment",
        "type": "comment",
        "z": "flow_alloff",
        "name": "FLOW 2: All Lights Off - Press the inject button to turn off every light and spot in the house.",
        "info": "",
        "x": 370,
        "y": 40,
        "wires": []
    },

    {
        "id": "flow_nightmode",
        "type": "tab",
        "label": "Night Mode",
        "disabled": false
    },
    {
        "id": "night_trigger",
        "type": "inject",
        "z": "flow_nightmode",
        "name": "Every day at 22:00",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "00 22 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 160,
        "y": 120,
        "wires": [["night_dim_lights"]]
    },
    {
        "id": "night_dim_lights",
        "type": "api-call-service",
        "z": "flow_nightmode",
        "name": "Dim All Lights to 20%",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.livingroom_light_livingroom_light",
            "light.livingroom_light2_livingroom_light",
            "light.livingroom_light3_livingroom_light",
            "light.livingroom_light4_livingroom_light"
        ],
        "data": "{\"brightness_pct\": 20}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 430,
        "y": 120,
        "wires": [["night_spots_off"]]
    },
    {
        "id": "night_spots_off",
        "type": "api-call-service",
        "z": "flow_nightmode",
        "name": "Turn Off All Spots",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "switch",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "switch.livingroom_spot_livingroom_spot",
            "switch.kitchen_spot_kitchen_spot",
            "switch.bedroom_spot_bedroom_spot",
            "switch.toilet_spot_toilet_spot"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 690,
        "y": 120,
        "wires": [["night_debug"]]
    },
    {
        "id": "night_debug",
        "type": "debug",
        "z": "flow_nightmode",
        "name": "Night Mode Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "Night mode activated - lights dimmed to 20%",
        "statusType": "auto",
        "x": 930,
        "y": 120,
        "wires": []
    },
    {
        "id": "morning_trigger",
        "type": "inject",
        "z": "flow_nightmode",
        "name": "Every day at 07:00",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "00 07 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 160,
        "y": 240,
        "wires": [["morning_lights"]]
    },
    {
        "id": "morning_lights",
        "type": "api-call-service",
        "z": "flow_nightmode",
        "name": "Lights to 100%",
        "server": "",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.livingroom_light_livingroom_light",
            "light.livingroom_light2_livingroom_light",
            "light.livingroom_light3_livingroom_light",
            "light.livingroom_light4_livingroom_light"
        ],
        "data": "{\"brightness_pct\": 100}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 420,
        "y": 240,
        "wires": [["morning_debug"]]
    },
    {
        "id": "morning_debug",
        "type": "debug",
        "z": "flow_nightmode",
        "name": "Morning Mode Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "Morning mode - lights back to 100%",
        "statusType": "auto",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "night_comment",
        "type": "comment",
        "z": "flow_nightmode",
        "name": "FLOW 3: Night Mode - At 22:00 dim all lights to 20% and turn off spots. At 07:00 restore lights to 100%.",
        "info": "",
        "x": 400,
        "y": 40,
        "wires": []
    },

    {
        "id": "flow_mqtt",
        "type": "tab",
        "label": "MQTT Landlord Reporting",
        "disabled": false
    },
    {
        "id": "mqtt_poll",
        "type": "inject",
        "z": "flow_mqtt",
        "name": "Every 5 minutes",
        "props": [{"p": "payload"}],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 120,
        "wires": [["mqtt_get_living"]]
    },
    {
        "id": "mqtt_get_living",
        "type": "api-current-state",
        "z": "flow_mqtt",
        "name": "Get Living Room Light",
        "server": "",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.livingroom_light_livingroom_light",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {"property": "living_room_light", "propertyType": "msg", "value": "", "valueType": "entityState"}
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "x": 390,
        "y": 120,
        "wires": [["mqtt_get_kitchen"]]
    },
    {
        "id": "mqtt_get_kitchen",
        "type": "api-current-state",
        "z": "flow_mqtt",
        "name": "Get Kitchen Light",
        "server": "",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.livingroom_light2_livingroom_light",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {"property": "kitchen_light", "propertyType": "msg", "value": "", "valueType": "entityState"}
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "x": 620,
        "y": 120,
        "wires": [["mqtt_get_bedroom"]]
    },
    {
        "id": "mqtt_get_bedroom",
        "type": "api-current-state",
        "z": "flow_mqtt",
        "name": "Get Bedroom Light",
        "server": "",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.livingroom_light4_livingroom_light",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {"property": "bedroom_light", "propertyType": "msg", "value": "", "valueType": "entityState"}
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "x": 850,
        "y": 120,
        "wires": [["mqtt_get_toilet"]]
    },
    {
        "id": "mqtt_get_toilet",
        "type": "api-current-state",
        "z": "flow_mqtt",
        "name": "Get Toilet Light",
        "server": "",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "light.livingroom_light3_livingroom_light",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {"property": "toilet_light", "propertyType": "msg", "value": "", "valueType": "entityState"}
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "x": 150,
        "y": 240,
        "wires": [["mqtt_get_motion"]]
    },
    {
        "id": "mqtt_get_motion",
        "type": "api-current-state",
        "z": "flow_mqtt",
        "name": "Get Motion Sensor",
        "server": "",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "binary_sensor.vmbpirm_motion_output_1",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {"property": "motion", "propertyType": "msg", "value": "", "valueType": "entityState"}
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "x": 380,
        "y": 240,
        "wires": [["mqtt_build_report"]]
    },
    {
        "id": "mqtt_build_report",
        "type": "function",
        "z": "flow_mqtt",
        "name": "Build Report JSON",
        "func": "var report = {\n    timestamp: new Date().toISOString(),\n    property: \"MDAR Smart Home\",\n    devices: {\n        living_room: {\n            light: msg.living_room_light || \"unknown\",\n            spot: \"check_separately\"\n        },\n        kitchen: {\n            light: msg.kitchen_light || \"unknown\"\n        },\n        bedroom: {\n            light: msg.bedroom_light || \"unknown\"\n        },\n        toilet: {\n            light: msg.toilet_light || \"unknown\"\n        },\n        motion_sensor: {\n            status: msg.motion || \"unknown\"\n        }\n    }\n};\nmsg.payload = JSON.stringify(report, null, 2);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 240,
        "wires": [["mqtt_publish", "mqtt_debug"]]
    },
    {
        "id": "mqtt_publish",
        "type": "mqtt out",
        "z": "flow_mqtt",
        "name": "Publish to MQTT",
        "topic": "mdar/landlord/report",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "application/json",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "mqtt_debug",
        "type": "debug",
        "z": "flow_mqtt",
        "name": "Report Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "Report published to MQTT",
        "statusType": "auto",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "mqtt_comment",
        "type": "comment",
        "z": "flow_mqtt",
        "name": "FLOW 4: MQTT Landlord Reporting - Every 5 minutes, collect all device states and publish a JSON report to mdar/landlord/report topic.",
        "info": "",
        "x": 440,
        "y": 40,
        "wires": []
    }
]
